<header>
    <div class="header">
        <h1 class="site_logo"><a href="menu.html">島ぬひみつきち</a></h1>
        <div class="user">
            <p class="user_name" >ユーザーさん、こんにちは</p>
            <div class="btn"><a class="basic_btn regist" href="post-insert.html">情報追加</a></div>
            <div class="btn"><a class="basic_btn regist" href="bookmark.html">ブックマーク</a></div>
            <div class="btn"><a class="basic_btn regist" href="profile.html">Myページ</a></div>
        </div>
    </div>
    <div class="border"></div>
</header>