<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <link href="../static/css/commons.css" rel="stylesheet">
    <title>しまきち</title>
</head>
<body>

    <div class="header">
        <h1 class="site_logo"><a href="menu.html">島ぬひみつきち</a></h1>
        <div class="user">
            <p class="user_name" >ユーザーさん、こんにちは</p>
            <div class="btn"><a class="basic_btn regist" href="post-insert.html">情報追加</a></div>
            <div class="btn"><a class="basic_btn regist" href="bookmark.html">ブックマーク</a></div>
            <div class="btn"><a class="basic_btn regist" href="profile.html">Myページ</a></div>
        </div>
    </div>
    <div class="border"></div>
    
    <div class="notice-menu">
        <h3>お知らせ</h3>
        
        <div class="notice">
            <a class = "date">2024/05/15</a>
            <a class = "notice-category">お知らせカテゴリ画像</a>
            <a class = "notice-body" >お知らせ内容</a>
        </div>
        
        <div class="notice">
            <a class = "date">2024/06/12</a>
            <a class = "notice-category">お知らせカテゴリ画像</a>
            <a class = "notice-body">サンプルテキスト</a>
        </div>
        
        <div id="notice">
            <a class = "date">2024/11/19</a>
            <a class = "notice-category" >お知らせカテゴリ画像</a>
            <a class = "notice-body" >サンプルテキスト</a>
        </div>
    </div>

    <br>
    
    <div class="search-menu">
        
        <a>カテゴリ：</a>
        <select>
            <option value="gourmet">グルメ</option>
            <option value="fishing">釣りスポ</option>
            <option value="ather">その他</option>
        </select>
    
        <a>&nbsp;&nbsp;&nbsp;キーワード：</a>
    
        <input type="text">
    
        <img src="../static/img/okinawa.png" width="700" height="700">
    </div>
    
    </body>
    </html>