<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>検索結果</h1>

    <div class="container">
        <img img src="../static/img/okinawa.png" width="200" height="200">
        <div class="text-block">
            <p>地域：<input type="text"></p>
            <p>カテゴリ：<input type="text"></p>
            <p>キーワード：<input type="text"></p>
        </div>
    </div>

    <div>
        <label>検索結果&nbsp;</label><label>50件&nbsp;&nbsp;</label>
        <label>並び替え：</label>
        <select>
            <option value="review">評価順</option>
            <option value="new order">新しい順</option>
            <option value="old order">古い順</option>
        </select>
    </div>



</body>
</html>