/* commons.css */

/* デフォルトスタイルのリセット */
body, h1, h3, p, div, a, select, input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* 全体のレイアウトとスタイル */
body {
    background-color: #f5f5f5;
    color: black;
    line-height: 1.6;
    padding: 20px;
}

/* ヘッダ下のライン */
.border{
    border: 5px solid #66FFCC;
    margin-bottom: 20px;
}

/* サイトロゴ島ぬひみつきち */
.site_logo a {
    color: #000;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
}

.user {
    display: flex;
    align-items: center;
}

.user_name {
    margin-right: 20px;
    font-size:25px;
}

.btn {
    margin-left: 10px;
}

.basic_btn {
    background-color: #ff9800;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.basic_btn:hover {
    background-color: #e68900;
}

/* お知らせセクション */
.notice-menu {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.notice-menu p {
    font-size: 20px;
    font-weight: bold;
    color: #468c1b;
}

.notice-list {
    margin-top: 10px;
}

.notice-item {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.notice-item .date {
    color: #468c1b;
    font-weight: bold;
}

.notice-item .notice-category {
    background-color: #468c1b;
    padding: 2px 5px;
    border-radius: 4px;
    font-size: 14px;
    color: white;
    margin-right: 10px;
}

.notice-item .notice-body {
    font-size: 16px;
}

/* マップ */
.map_link {
    display: block;
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    border: 2px solid #468c1b;
    border-radius: 8px;
}


.search-box {
    text-align: center;
    margin: 0 auto;
}

.search-menu {
    padding: 20px;
    margin-top: 20px;
    height: 900px;
    background-color: #ffffff;
    border: 2px solid #468c1b;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-menu a {
    font-size: 18px;
    font-weight: bold;
    color: #468c1b;
    margin-right: 10px;
}

.search-box a {
    color: #000000;
}

.search-menu select, .search-menu input {
    padding: 10px;
    margin: 0 10px;
    border: 2px solid #468c1b;
    border-radius: 4px;
    font-size: 16px;
}

/* フォームセクション */
div form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

form select, form input[type="text"] {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}


form input[type="text"] {
    flex: 1;
}

/* 画像 */
img {
    display: block;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    transform-origin:left top;
    transform: scale(0.5,0.5) translate(50%, 0);
}

#p_kunigami,
#p_ogimi,
#p_higasi,
#p_nago,
#p_nakijin,
#p_ie,
#p_motobu,
#p_ginoza,
#p_onna,
#p_kin,
#p_uruma,
#p_okinawa,
#p_yomitan,
#p_kadena,
#p_chatan,
#p_kitanakagusuku,
#p_ginowan,
#p_nakagusuku,
#p_urasoe,
#p_naha,
#p_nisihara,
#p_haebaru,
#p_yonabaru,
#p_tomisiro,
#p_itoman,
#p_yaese,
#p_nanjo{
	display: none;
}

.p_box {
	width: 200px;
	position: absolute;
	background: #f7f7f7;
	padding: 0 1px;
	border-radius: 0 0 10px 10px;
	box-shadow: 0px 2px 2px #e6e6e6;
}
.p_box .p_title {
	border-top: 2px solid #006cb8;
	border-bottom: 1px solid #e6e6e6;
	text-align: center;
	margin: 0;
	line-height: 2.5;
}