.header {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: #ecdcdc;
    color: white;
    border-radius: 10px;
}

.header .logo-img {
    width: 30%;
    margin: 0;
}

.header .user-info {
    display: flex;
    gap: 10px;
    margin-right: 20px;
}

.header .user-info span {
    font-size: 15px;
    color: black;
    margin: 0 20 0 auto;
}
.header .user-info div {
    font-size: 15px;
    color: black;
    margin: 0 20 0 auto;
}

.header .user-info button {
    padding: 10px;
    background-color: #48ff00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 20 0 auto
}

.header .user-info button:hover {
    background-color: #17b000;
}

.error{
    color:red;
}