html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 10vw;
  width: 10vw;
}

.required::before {
  content: "※";
  color: red;
}

.flex {
  display: flex;
}

.input-image {
  width: 100px;
}

.input-file {
  display: none;
}