html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 50vw;
  width: 50vw;
}

.required::before {
  content: "※";
  color: red;
}

.flex {
  display: flex;
}

.input-image {
  width: 100px;
}

.input-file {

}