body {
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #F8F9FA;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image{
    width:20%
}

.box {
    display: flex;
}


.icon {
    width: 100%;
    border-radius:50%;
}

h1 {
    font-size: 50px;
}

.input-file {
    display: none;
}
.error{
    color:  red;
}
.UpdateButton{
    margin:auto 0;
}
textarea{
      width: 300px;  /* 幅を固定 */
      height: 200px; /* 高さを固定 */
      resize: none;  /* リサイズを無効にする */
}

