html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 35vw;
    width: 35vw;
}

.sub-image {
    padding: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* 画像サイズ*/
.image {
    height: 100px;
    width: 100px;
}

.pic-image {
    width: 80%;
}


.box {
    display: flex;
    height: 1000px;
    width: 100%;
}
.box-left {
    margin: auto;
    height: 100%;
    width: 35%;
}

.box-right {
    margin: auto;
    height: 100%;
    width: 65%;
}

body {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', cursive;
    background-color: #f0f8ff;
    color: #2f4f4f;
    margin: 0;
    padding: 0;
}

