<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>カテゴリー一覧</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>カテゴリー名</th>
        <th>件数</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="category : ${categories}">
            <td><a th:href="'categoryDetail/' + ${category.id}" th:text="${category.name}"></a></td>
            <td th:text="${category.posts}"></td>
        </tr>

    </tbody>
</table>
<a href="/category-insert"><input type="button"  value="追加"></a>


</body>
</html>