<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/react@18/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

</head>
<body>

<div id="root"></div>

<script type="text/babel">
    const useState = React.useState;
    const useEffect = React.useEffect;
    const App = () => {

    const [state, setState] = useState(1)

    const handleClick = () => setState(state + 1)

      return (
        <div>
          カウント: {state}
          <div>
            <button onClick={handleClick}>count up</button>
          </div>
        </div>
      )
    }

    const container = document.getElementById("root");
    const root = ReactDOM.createRoot(container);
    root.render(<App />);

</script>

</body>
</html>