<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet/less" type="text/css" th:href="@{/css/styles.less}" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script>
    <style>body{background-color:#66cdaa}</style>
</head>
<body>

<div class="wrapper" style="display: flex; justify-content: center; align-items: center;">
    <div class="container">
        <h1>ようこそ、島ぬひみつきちへ</h1>
        <div th:if="${error} != null">
            <p>ログインIDかパスワードが間違っています。</p>
        </div>
        <form class="form" th:action="@{/login}" method="post">
            <input type="text" name="username" placeholder="ログインID">
            <input type="password"  name="password" placeholder="password">
            <button type="submit" id="login-button">Login</button>
        </form>
        <form class="form" th:action="@{/account/admin}" method="get">
            <div>
                <button type="submit" id="new-user-button">新規登録</button>
            </div>
        </form>
    </div>



    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>




<script>
    $("#login-button").click(function(event){
    event.preventDefault();

  $('form').fadeOut(500);
  $('.wrapper').addClass('form-success');
});
</script>


</body>
</html>