<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../css/commons.css" rel="stylesheet">
    <title>しまきち</title>
</head>
<body>
a
    <div th:each="post : ${posts}">
        <a>投稿ID:</a>
        <a th:text="${post.id}"></a>
        <a>タイトル:</a>
        <a th:text="${post.title}"></a>
        <a>カテゴリ:</a>
        <a th:text="${post.categories.name}"></a>
        <a>投稿者:</a>
        <a th:text="${post.users.username}"></a>
        <a>詳細:</a>
        <a th:text="${post.detail}"></a>
        <a>店舗名:</a>
        <a th:text="${post.summary}"></a>
        <a>住所:</a>
        <a th:text="${post.address}"></a>
        <a>緯度:</a>
        <a th:text="${post.mapLongitude}"></a>
        <a>軽度:</a>
        <a th:text="${post.mapLatitude}"></a>
        <a>店舗URL:</a>
        <a th:text="${post.link}"></a>
        <a>投稿日:</a>
        <a th:text="${post.createdAt}"></a>
        <a>更新日:</a>
        <a th:text="${post.updatedAt}"></a>
    </div>


</body>
</html>
