<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/notice.css" rel="stylesheet">
    <script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <th:block th:insert="common/header"></th:block>

<div class="container">
    <h2>お知らせ</h2>
    <div class="notice-list">
        <div th:each="notice : ${notices}" class="notice">
            <a th:href="@{notice-detail/__${notice.id}__}">
                <div class="notice-item">
                    <span class="date" th:text="${#dates.format(notice.updatedAt, 'yyyy/MM/dd')}"></span>
                    <span class="notice-category" th:text="${notice.category.priority}"></span>
                    <span class="notice-body" th:text="${notice.title}"></span>
                </div>
            </a>
        </div>
    </div>
    <div class="button-container">
        <a sec:authorize="hasAuthority('1')" href="/admin/notice-insert"><button>新規追加</button></a>
    </div>
</div>
</body>
</html>
