<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/image.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/post-detail.css" rel="stylesheet">
</head>
<body>
    <div class="box">
        <div class="box-left">
            <button class="nav-button" onclick="slideshowBack()">◀</button>
            <img id="picImg" class="pic-image" th:src="${post.imageFile1}">
            <button class="nav-button" onclick="slideshowNext()">▶</button><br>
            <div class="sub-image">
                <img id="subImg1" class="image" th:src="${post.imageFile2}"/>
                <img id="subImg2" class="image" th:src="${post.imageFile3}"/>
                <img id="subImg3" class="image" th:src="${post.imageFile4}"/>
                <img id="subImg4" class="image" th:src="${post.imageFile5}"/>
            </div>
            <p><span th:text="${post.address}"></span></p>
            <div id="map"></div>
        </div>
        <div class="box-right">
            <p><span th:text="${post.categoryName}"></span></p>
            <p><span th:text="${post.usersName}"></span></p>
            <p><span th:text="${post.title}"></span></p>
            <p><span th:text="${post.summary}"></span></p>
            <p><span th:text="${post.detail}"></span></p>
            <p><span th:text="${post.created_at}"></span></p>
            <p><a th:href="${post.link}">[[ ${post.link} ]]</a></p>
            <p><a th:href="@{/posts/edit/__${post.id}__}">編集画面へ</a></p>
            <p hidden><span id="lat" th:text="${post.map_longitude}"></span></p>
            <p hidden><span id="lng" th:text="${post.map_latitude}"></span></p>
        </div>
    </div>
    <script src="/js/post-detail.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwxPEJAiFmyOh3KMR4NzYmvbDuU0YwwQ8&signed_in=true&callback=initMapDetail" async defer></script>
</body>
</html>