<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test Map</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/post-inser.css" rel="stylesheet">
</head>
<body>
<th:block th:insert="common/header"></th:block>
<div class="form-group">
    <label class="required">1.名称 or 店舗名</label><br>
    <input type="text" id="name" name="name">
    <br>
</div>
<div class="form-group">
    <label class="required">2.カテゴリー</label><br>
    <input type="text" id="category" name="name">
    <br>
</div>
<div class="form-group">
    <label class="required">3.住所</label><br>
    <label for="city">市町村</label><br>
    <input type="text" id="city" name="name">
    <br>
</div>
<div class="form-group">
    <label for="city">住所</label><br>
    <input type="text" id="address" name="name">
    <br>
</div>
<div id="map"></div>
<ul>
    <li hidden>緯度:<span id="lat"></span></li>
    <li hidden>経度:<span id="lng"></span></li>
</ul>
<script src="/js/post-insert.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwxPEJAiFmyOh3KMR4NzYmvbDuU0YwwQ8&signed_in=true&callback=initMap" async defer></script>
</body>
</html>