<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/profile-edit.css" rel="stylesheet">
</head>
<body>
<th:block th:insert="common/header"></th:block>
<div class="container">
    <form th:action="@{/my-page/edit}" method="post" enctype="multipart/form-data" th:object="${profileForm}">
        <div class="box">
            <div class="image">
                <input type="file" th:field="*{profilePicture}" class="input-file" name="input1" id="input1" accept="image/*">
                <label for="input1"><img class="icon" th:src="${icon}" alt="画像1" id="figureImage1"></label>
            </div>
            <div class="editBox-left">
                <p for="name">名前：</p>
                <p for="username">ログインID（メールアドレス）：</p>
                <p for="password">パスワード：</p>
                <p for="bio">自己紹介：</p>
            </div>
            <div class="editBox-right">
                <p>
                    <span class="error" th:each="error: ${#fields.errors('name')}">
                        [[ ${error} ]]
                    </span>
                <input type="text" id="name" th:field="*{name}" class="form-control">
                </p>
                <p>
                    <span class="error" th:each="error: ${#fields.errors('username')}">
                        [[ ${error} ]]
                    </span>
                    <input type="text" id="username" th:field="*{username}" class="form-control">
                </p>
                <p>
                    <span class="error" th:each="error: ${#fields.errors('password')}">
                        [[ ${error} ]]
                    </span>
                    <input type="text" id="password" th:field="*{password}" class="form-control">
                </p>
                <p>
                    <textarea id="bio" th:field="*{bio}" class="form-control" ></textarea>
                </p>
            </div>
        </div>
        <div class="post-actions">
            <div class="button-box"><button type="submit" class="edit-button">更新</button></div>
            <div class="button-box">
                <div id="deleteButton">
                    <button type="button" class="delete-button" data-toggle="modal" data-target="#deleteModal">退会</button>
                    <!-- ボタン・リンククリック後に表示される画面の内容 -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel">削除確認画面</h4></h4>
                                </div>
                                <div class="modal-body">
                                    <label>投稿は全て削除されます 退会しますか？</label>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="close-button" data-dismiss="modal">閉じる</button>
                                    <button type="button" class="delete-button" th:onclick="|location.href='/deleteMyAcc/__${profileForm.id}__'|"  >退会</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script src="/js/profile.js"></script>
</body>
</html>