<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <div>
        <label>ニックネーム:</label>
        <input type="text">
    </div>
    <div>
        <label>メールアドレス:</label>
        <input type="email">
    </div>
    <div>
        <label>パスワード：</label>
        <input type="password">
    </div>
    <div>
        <label>自己紹介</label><br>
        <input type="text">
    </div>
    <button type="submit">登録</button>
</form>
</body>
</html>