<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <title>sample</title>
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/post-inser.css" rel="stylesheet">
</head>
<body>
    <form th:action="@{/register}" method="post" enctype="multipart/form-data" th:object="${postForm}">
        <div>
            <label>タイトル:</label>
            <p><input type="text" th:field="*{title}"></p>
        </div>
        <div>
            <label>カテゴリー:</label>
            <p><input type="text" th:field="*{categoryId}"></p>
        </div>
        <div>
            <label>市町村:</label>
            <p><input type="text" th:field="*{citiesId}"></p>
        </div>
        <div>
            <label>画像1：</label>
            <input type="file" th:field="*{imageFile1}">
        </div>
        <div>
            <label>画像2：</label>
            <input type="file" th:field="*{imageFile2}">
        </div>
        <div>
            <label>画像3：</label>
            <input type="file" th:field="*{imageFile3}">
        </div>
        <div>
            <label>画像4：</label>
            <input type="file" th:field="*{imageFile4}">
        </div>
        <div>
            <label>画像5：</label>
            <input type="file" th:field="*{imageFile5}">
        </div>
        <div>
            <label>概要:</label>
            <p><input type="text" th:field="*{summary}"></p>
        </div>
        <div>
            <label>詳細:</label>
            <p><input type="text" th:field="*{detail}"></p>
        </div>
        <div class="form-group">
            <label class="required">3.住所</label><br>
            <label for="city">市町村</label><br>
            <input type="text" id="city" name="name">
            <br>
        </div>
        <div class="form-group">
            <label for="city">住所</label><br>
            <input type="text" id="address" name="name" th:field="*{address}">
            <br>
        </div>
        <div id="map"></div>
        <ul>
            <li>緯度:<span id="lat" th:field="*{mapLongitude}"></span></li>
            <li>経度:<span id="lng" th:field="*{mapLatitude}"></span></li>
        </ul>
        <div>
            <label>外部リンク:</label>
            <p><input type="text"  th:field="*{link}"></p>
        </div>
        <script src="/js/post-insert.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwxPEJAiFmyOh3KMR4NzYmvbDuU0YwwQ8&signed_in=true&callback=initMap" async defer></script>

        <br><p><input type="submit" value="登録"></p>
    </form>
</body>
</html>