<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Title</title>
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/search.css" rel="stylesheet">
    <script src="https://unpkg.com/react@18/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js" crossorigin></script>
    <script src='https://unpkg.com/react-router-dom@5.0.0/umd/react-router-dom.min.js' crossorigin></script>
    <script src='https://unpkg.com/babel-standalone@6.26.0/babel.js'></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<th:block th:insert="common/header"></th:block>

<div class="container">
    <h1>検索結果</h1>
    <div class="text-block">
        <p hidden>選択された市町村： <input id="region" th:value="${region}"></p>
        <p hidden>キーワード： <input id="keyword" th:value="${keyword}"></p>
        <p hidden>選択された市町村： <input id="categoryName" th:value="${categoryParam}"></p>
    </div>
    <div id="root"></div>
</div>

<script type="text/babel">
    const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
    const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

    axios.defaults.headers.common[csrfHeader] = csrfToken;

    const { useState, useEffect } = React;
    const { HashRouter, Route, withRouter } = ReactRouterDOM;

    const Home = withRouter(({ history, location }) => {
        const [posts, setPosts] = useState([]);
        const [cats, setCats] = useState([]);
        const [cities, setCities] = useState([]);
        const [postsCount, setPostsCount] = useState(posts.length);
        const [order, setOrder] = useState('評価順');

        const [defLoad, setDefLoad] = useState(false);

        const [searchParams, setSearchParams] = useState({
            category: document.getElementById("categoryName").value,
            keyword: document.getElementById("keyword").value,
            region: document.getElementById("region").value
        });
        const [showResults, setShowResults] = useState(false);

        useEffect(() => {
            let { category, keyword, region } = searchParams;

            if(category=='全部'){category="";}
            if(region=='全部'){region="";}
            history.push(`/?category=${category}&keyword=${keyword}&region=${region}&order=${order}`);

            setShowResults(true);
            const fetchPosts = async () => {
                try {
                    let url = '/api/search';
                    if (order === '新しい順') {
                        url = '/api/search/updatedAt/Desc';
                    } else if (order === '古い順') {
                        url = '/api/search/updatedAt/Asc';
                    }
                    const response = await axios.get(url, {
                        params: {
                            category,
                            keyword,
                            region
                        }
                    });
                    setPosts(response.data);
                } catch (error) {
                    console.error('Error fetching posts:', error);
                }
            };
            fetchPosts();
            setDefLoad(true);
        }, [searchParams,  order]);

        const handleInputChange = (e) => {
            const { name, value } = e.target;
            setSearchParams(prev => ({ ...prev, [name]: value }));
        };

        const likeClick = (e) => {
            console.log("like");

        };

        const handleOrderChange = (event) => {
            setOrder(event.target.value);
        };

        useEffect(() => {
            const fetchCategories = async () => {
                const response = await axios.get('/api/search/categories');
                setCats(response.data);
            };
            fetchCategories();
        }, []);

        useEffect(() => {
            const fetchCities = async () => {
                const response = await axios.get('/api/search/cities');
                setCities(response.data);
            };
            fetchCities();
        }, []);

        useEffect(() => {
            setPostsCount(posts.length);
         }, [posts]);


        return (
            <div>
                <div class="search-container">
                    <div class="inline-input-field">
                        <a>カテゴリ：</a>
                        <select
                            name="category"
                            value={searchParams.category}
                            onChange={handleInputChange}
                        >

                            {cats.map(cat => (
                                <option key={cat.id} value={cat.name}>{cat.name}</option>
                            ))}
                        </select>
                        <input
                            type="text"
                            name="keyword"
                            value={searchParams.keyword}
                            onChange={handleInputChange}
                            placeholder="キーワード"
                        />
                        <a>市町村名：</a>
                        <select
                            name="region"
                            value={searchParams.region}
                            onChange={handleInputChange}
                        >

                            {cities.map(city => (
                                <option key={city.id} value={city.name}>{city.name}</option>
                            ))}
                        </select>
                    </div>
                    <div class="inline-narrow-down">
                        <p>
                            検索結果：<span id="postsCount">{postsCount}</span>件　
                            並び替え：
                            <select value={order} onChange={handleOrderChange}>
                                <option value="評価順">評価順</option>
                                <option value="新しい順">新しい順</option>
                                <option value="古い順">古い順</option>
                            </select>
                        </p>
                    </div>
                </div>
                <div>
                    {posts.map(post => (
                        <Post key={post.id} post={post} />
                    ))}
                </div>
            </div>
        );
    });

    const Post = ({ post }) => {
        const [liked, setLiked] = useState(false);
        const [bookmarked, setBookmarked] = useState(false);
        const [getBookmark, setGetBookmark] = useState([]);
        const [getLike, setGetLike] = useState([]);
        const [likeCount, setLikeCount] = useState([]);

         useEffect(() => {
            const fetchBookmarkStatus = async () => {
                try {
                    const response = await axios.get(`/api/bookmarks/status/${post.id}`);
                    setBookmarked(response.data);
                } catch (error) {
                    console.error("Error fetching bookmark status:", error);
                }
            };

            const fetchLikedStatus = async () => {
                try {
                    const response = await axios.get(`/api/likes/status/${post.id}`);
                    setLiked(response.data);
                } catch (error) {
                    console.error("Error fetching bookmark status:", error);
                }
            };
            fetchBookmarkStatus();
            fetchLikedStatus();

        }, [post.id]);

        useEffect(() => {
            const fetchCities = async () => {
                const response = await axios.get(`/api/likes/count/${post.id}`);
                setLikeCount(response.data);
            };
            fetchCities();
        }, [liked, setLiked]);

        const likeClick = async () => {
            try {
                if (liked) {
                    await axios.post(`/api/likes/delete/${post.id}`);
                } else {
                    await axios.post(`/api/likes/${post.id}`);
                }
            } catch (error) {
                console.error("Error", error);
            }
            setLiked(!liked);
        };

        const bookmarkClick = async () => {
            try {
                if (bookmarked) {
                    await axios.post(`/api/bookmarks/delete/${post.id}`);
                } else {
                    await axios.post(`/api/bookmarks/${post.id}`);
                }
                setBookmarked(!bookmarked);
            } catch (error) {
                console.error("Error updating bookmark:", error);
            }
        };

        const bookmarkCheck = getBookmark.map((bookmark) => {
          return `{bookmark.id}`;
        });



        return (
            <div className="posts">
                <div className="post">
                    <img className="image" src={post.imageFile1} alt="post" />
                    <div className="information">
                        <div className="box-top">
                            <h1 className="title"><a href={"/posts/detail/" + post.id}>{post.title}</a></h1>
                            <div className="category-box">
                                <span>{post.users.username}</span>
                            </div>
                        </div>
                        <div className="box-center">
                            <span className="summary">{post.summary}</span>
                        </div>
                        <div className="box-bottom">
                            <span className="city">{post.cities.name}/</span>
                            <span className="category">{post.categories.name}</span>
                            <div className="like">
                                <input
                                    className="click-img"
                                    type="image"
                                    onClick={likeClick}

                                    src={liked ? '../img/like-after.png' : '../img/like-before.png'}
                                /><span>{likeCount}</span>

                                <input
                                    className="click-img"
                                    type="image"
                                    onClick={bookmarkClick}
                                    src={bookmarked ? '../img/bookmark-after.png' : '../img/bookmark-before.png'}
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        );
    };

    const App = () => {
        return (
            <HashRouter>
                <Route path="/" component={Home} />
            </HashRouter>
        );
    };
    ReactDOM.render(<App />, document.getElementById('root'));
</script>

</body>
</html>